/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #565656;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
  .date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
  .search-results {}              /* search result page */
  .search-no-results {}           /* no results search page */
  .search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {


  .author-bio {
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1) inset;
    margin: 15px 0 28px;
    padding: 25px 25px 25px 130px;
    position: relative;

    .avatar {
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, .1);
      box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
      display: block;
      position: absolute;
        top: 25px; left: 25px;
    }

    .title {
      display: inline-block;
      font-size: 22px;
      font-weight: bold;
      margin: 0 5px 5px 0;
    }

    .social {
      display: inline-block;
      margin: 0 0 10px;

      li {
        display: inline-block;
        margin-right: 10px;

        .icon {
          line-height: 1em;
          margin-top: 0;
        }
      }
    }

    .bio {
      margin: 0;
    }

    @media screen and (max-width: 640px) {
      text-align: center;
      padding-left: 25px;

      .avatar {
        position: relative;
        top: auto; left: auto;
        margin: 0 auto 15px;
      }

      .title {
        display: block;
      }

      .social {
        display: block;

        .icon {
          font-size: 46px;
        }
      }
    }
  }
}                        /* single post page */
  .postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
  .single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
  .attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
  .attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
  .author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
  .author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
  .category-1 {}                  /* individual category page (i.e. body.category-6) */
  .category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
  .tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
  .tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
  .page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
  .page-paged-1 {}                /* replace the number to the corresponding page number */
  .page-parent {}                 /* parent page template */
  .page-child {}                  /* child page template */
  .parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
  .paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $primary-color;

  /* on hover */
  &:hover, &:focus {
    color: lighten($primary-color, 10%);
  }

  /* on click */
  &:active {
    color: darken($primary-color, 10%);
  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 900;
  margin-top: 0;
  text-transform: uppercase;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  color: $primary-color;
  font-size: 2.5em;
  line-height: 1.333em;
}

h2, .h2 {
  color: $primary-color;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1.4em;
  margin-bottom: 30px;
  text-align: center;
}

h3, .h3 {
  color: $secondary-color;
  font-size: 18px;
}

h4, .h4 {
  color: $secondary-color;
  font-size: 14px;
}

h5, .h5 {
  color: $primary-color;
  font-size: 14;
  line-height: 2.09em;
  letter-spacing: 2px;
  text-transform: none;
}

/*********************
OTHER
*********************/

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5em;
}

hr {
  background: #e3e3e3;
  border: none;
  height: 1px;
  margin: 15px 0;
}

/*********************
SECTIONS
*********************/

.content-secondary {
  background: $secondary-color;
  @include border-radius(5px);
  padding: 20px;
  text-shadow: none;

  h1, h2, h3, h4, h5 { color: #fff; }
  p { color: rgba(255, 255, 255, 0.5); }
}


/*********************
HEADER STYLES
*********************/

.header {
  background: url('../images/header-bg.jpg') no-repeat;
  background-size: cover;
  height: 676px;
  padding-top: 36px;
}

  #inner-header {
    padding: 75px 0;
    text-align: center;
  }

  #logo {
    display: block;
    margin: 0 auto;
    max-width: 477px;

    img {
      max-width: 100%;
    }
  }

  .tagline {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 15px auto 150px;
    max-width: 477px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .26);
    text-transform: uppercase;
  }

  .mission {
    h2 {
      color: $secondary-color;
    }

    p {
      color: $primary-color;
      font-size: 24px;

      @media screen and (max-width: 640px) {
        font-size: 18px;
      }
    }
  }

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav-container {
  background: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .35);
  @include box-shadow(0 2px 3px rgba(0, 0, 0, .1));
  padding: 10px 0;

  #beam-me-up {
    font-weight: bold;
    opacity: 0;
    position: absolute;
      top: 25px; right: 25px;
    text-decoration: none;

    @include transition(opacity .3s);

    &.in {
      opacity: 1;
    }

    @media screen and (max-width: 640px) {
      right: auto;
      left: 25px;
    }
  }

  .logo { float: left; }

  .mobile-toggle-container {
    background: rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    display: none;
    height: 50px;

    .mobile-toggle {
      background: rgba(255, 255, 255, .5);
      border: 1px solid rgba(255, 255, 255, .5);
      border-radius: 4px;
      float: right;
      margin: 6px;
      padding: 10px 10px;
      width: 50px;
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, .2), 0 0 2px rgba(0, 0, 0, .2);

      &:hover {
        background: rgba(255, 255, 255, .75);
      }

      &:active {
        background: rgba(255, 255, 255, .5);
        box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
      }

      span {
        background: rgba(0, 0, 0, .3);
        border-radius: 2px;
        display: block;
        height: 3px;
        margin-bottom: 3px;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    .wrap {
      background: #fff;
      margin: 0;
      padding-top: 50px;
      position: absolute;
        left: 0; right: 0; top: -300px;
      width: 100%;
      z-index: -1;

      @include transition(.5s all);

      .nav.top-nav {
        li {
          display: block;
          float: none;
          margin: 0;
          width: 100%;

          a {
            display: block;
            width: 100%;

            &:hover {
              background: rgba(0, 0, 0, .05);
            }
          }
        }
      }
    }

    &.open {
      .wrap {
        top: 0;
      }
      .mobile-toggle-container {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
      }
    }

    .mobile-toggle-container {
      display: block;
    }
  }
}

.nav.top-nav {
  border-bottom: 0;
  float: right;
  margin: 0;
  position: relative;
  text-align: center;

  li {
    display: inline-block;
    float: none;
    line-height: 57px;
    margin: 0 15px;

    a {
      color: #a3a2a2;
      display: block;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0;

      /*
      remember this is for mobile ONLY, so there's no need
      to even declare hover styles here, you can do it in
      the style.scss file where it's relevant. We want to
      keep this file as small as possible!
      */
      &:hover, &:focus {
        color: #444;
      }
    }

    &:first-child {}

    &:last-child {}

    /*
    so you really have to rethink your dropdowns for mobile.
    you don't want to have it expand too much because the
    screen is so small. How you manage your menu should
    depend on the project. Here's some great info on it:
    http://www.alistapart.com/articles/organizing-mobile/
    */
    ul.sub-menu,
    ul.children {

      li {

        a {
          padding-left: 30px;

          &:hover,
          &:focus {}

          &:link {}

        }

        &:first-child {}

        &:last-child {}

      }

    }

  } /* end .menu li */

  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current-page-ancestor {

    a {
      color: #444;
    }

  }  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
  margin-top: 2.2em;
}

  .hentry {

    header {
      font-size: 14px;
      text-align: center;
    }

    footer {}

  } /* end .hentry */

  .single-title,
  .page-title {}

  .single-title {}

  .page-title {}

  .archive-title { }

  /* want to style individual post classes? Booya! */
  .post-id {}         /* post by id (i.e. post-3) */
  .post {}            /* general post style */
  .page {}            /* general article on a page style */
  .attachment {}      /* general style on an attatchment */
  .sticky {}          /* sticky post style */
  .hentry {}          /* hentry class */
  .category-slug {}   /* style by category (i.e. category-videos) */
  .tag-slug {}        /* style by tag (i.e. tag-news) */

  /* post meta */
  .byline {
    color: #999;

    time {}
  }

  /* entry content */
  .entry-content {

    p {}


    ul, ol, table, dl {}

    ul, ol {

      li {}

    }

    ul {

      li {}

    }

    ol {

      li {}

    }

    blockquote {
      font-style: italic;
      font-size: 22px;

      &:before {}

    }

    dl {}

    dt {}

    dd {
      margin-left: 0;
      font-size: 0.9em;
      color: #787878;
      margin-bottom: 1.5em;
    }

    img {
      margin: 0 0 1.5em 0;
      max-width: 100%;
      height: auto;
    }

    /*
    image alignment on a screen this size may be
    a bit difficult. It's set to start aligning
    and floating images at the next breakpoint,
    but it's up to you. Feel free to change it up.
    */
    .alignleft, img.alignleft {}
    .alignright, img.alignright {}
    .aligncenter, img.aligncenter {}

    video, object {
      max-width: 100%;
      height: auto;
    }

    pre {
      background: #eee;
      border: 1px solid #cecece;
      padding: 10px;
    }

  } /* end .entry-content */

  .wp-caption {
    max-width: 100%;
    background: #eee;
    padding: 5px;

    /* images inside wp-caption */
    img {
      max-width: 100%;
      margin-bottom: 0;
      width: 100%;
    }

    p.wp-caption-text {
      font-size: 0.85em;
      margin: 4px 0 7px;
      text-align: center;
    }

  } /* end .wp-caption */

  /* image gallery styles */
  .gallery {

    dl {

      a {}

      img {}

    }

    dt {}

    dd {}

  } /* end .gallery */

  /* gallery caption styles */
  .gallery-caption {}

  .size-full {}
  .size-large {}
  .size-medium {}
  .size-thumbnail {}

  // Slider
  .slider {
    border: none;
  }

  // Events
  .events {
    padding-bottom: 60px;
    text-align: center;

    h2 { margin: 35px 0 45px; }
    img { margin: 0 0 25px; }
  }

  // Upcoming Events
  .upcoming-events {
    background: $secondary-color;
    color: #fff;
    padding: 35px 0;

    .wrap > h2 { margin: 15px 0 45px; }

    .event {
      h2 {
        margin: 20px 0 25px;
        text-align: left;

        a {
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          line-height: 1.25em;
        }
      }

      h3 {
        color: $quaternary-color;
        margin: 0;
      }

      h4 {
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
      }

      .map {
        background-size: cover;
        background-position: center center;
        background-repeat: none;
        border: 1px solid rgba(255, 255, 255, .05);
        height: 150px;
        margin: 20px 0 10px;
        width: 100%;

        @include border-radius(4px);
        @include box-shadow(0 -2px 8px rgba(0, 0, 0, .25) inset);
      }

      .button.hollow { display: inline-block; }
    }

    .more-events {
      color: #fff;
      font-weight: bold;
      margin: 30px 0 0;
      text-align: center;

      a { color: $quaternary-color; }
    }
  }

  // News
  .news {
    padding: 35px 0;

    h3 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 3px;
    }

    .post-meta {
      font-size: .75em;
      margin-top: 0;
    }

    .post-excerpt {
      font-size: .95em;
    }

    .excerpt-read-more {
      margin-top: 20px;

      @include button($primary-color);
    }

    .twitter {
      margin-top: 25px;
    }
  }

  // Newsletter
  .newsletter {
    h4 { margin: 0; }

    form {
      margin: 0;

      div {
        position: relative;
      }

      input[type="email"] {
        background: #fff;
        border: none !important;
        @include border-radius(3px);
        padding: 13px 12px;
      }

      .button {
        display: inline-block;
        font-size: 13px;
        padding: 10px 15px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }

  // Sponsors
  .sponsors {
    @include dark-block;

    .sponsor {
      h3 {
        text-align: center;
      }

      .logo {
        min-height: 125px;
        text-align: center;

        img {
          max-width: 100%;
        }
      }
    }
  }

  // About Us
  .about {
    margin-bottom: 45px;

    .content p {
      color: $primary-color;
      font-size: 24px;
    }
  }

  // Contact
  .contact {
    padding: 35px 0 0;
  }

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
  .bones_page_navi {

    li {
      float: left;
      margin-left: 10px;

      a {
        padding: 3px 6px;
        display: block;
        text-decoration: none;
        position: relative;

        &:hover,
        &:focus {
          color: #f01d4f;
          text-decoration: underline;
        }
      }

    }

    /* current page link */
    li.bpn-current {
      padding: 3px 6px;
      border-bottom: 2px solid #f01d4f;
      position: relative;

      a {
        /* hovering on current page link */
        &:hover,
        &:focus {}

      }

    } /* end .bones_page_navi .bpn-current */

    /* common styles for page-navi links */
    li.bpn-prev-link,
    li.bpn-next-link {
      font-weight: 700;

      a {
        padding: 0;
      }
    }

    /* remove the bg on end links */
    li.bpn-prev-link a:hover,
    li.bpn-next-link a:hover,
    li.bpn-first-page-link a:hover,
    li.bpn-last-page-link a:hover {
      background: none;
    }

    /* previous link */
    li.bpn-prev-link {
      a {
        &:hover,
        &:focus {}
      }
    }

    /* next page link */
    li.bpn-next-link {
      a {
        &:hover,
        &:focus {}
      }
    }

    /* first page link */
    li.bpn-first-page-link {
      a {
        &:hover,
        &:focus {}
      }
    }

    /* last page link */
    li.bpn-last-page-link {
      a {
        &:hover,
        &:focus {}
      }
    }

  } /* end .bones_page_navi */

  /* fallback previous & next links */
  .wp-prev-next {

    ul {}

    .prev-link {
      float: left;
    }

    .next-link {
      float: right;
    }

  } /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

  /* number of comments span */
  span {}

}

.comment-nav {

  ul {

    li {}

  }
}


.commentlist {

  li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;

    &:last-child {
      margin-bottom: 0;
    }

    ul.children {
      margin: 0;

      li {}

      /* variations */
      .comment {}
      .alt {}
      .odd {}
      .even {}
      .depth-1 {}           /* change number for different depth */
      .byuser {}
      .bypostauthor {}
      .comment-author-admin {}

    } /* end .commentlist li ul.children */
  }

  li[class*=depth-] {
    margin-top: 1.1em;
  }

  li.depth-1 {
    margin-left: 0;
    margin-top: 0;
  }

  li:not(.depth-1) {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0;
    padding-bottom: 0;
  }

  li.depth-2 {}
  li.depth-3 {}
  li.depth-4 {}
  li.depth-5 {}

  /* general comment classes */
  .alt {}
  .odd {
    background: #eee;
  }
  .even {
    background: #fefefe;
  }
  .parent {}
  .comment {}
  .children {}
  .pingback {}
  .bypostauthor {}
  .comment-author {}
  .comment-author-admin {}
  .thread-alt {}
  .thread-odd {}
  .thread-even {}

  /* vcard */
  .vcard {
    margin-left: 50px;

    cite.fn {
      font-weight: 700;
      font-style: normal;

      a.url {}

    }

    time {
      float: right;

      a {
        color: #999;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

    img.photo {}

    img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff;
    }

  } /* end .commentlist .vcard */


  /* comment meta */
  .comment-meta {

    a {}

  }

  .commentmetadata {

    a {}

  }

  /* comment content */
  .comment_content {
    margin-left: 50px;

    p {
      margin: 0.7335em 0 1.5em;
      font-size: 1em;
      line-height: 1.5em;
    }

  } /* end .commentlist .comment_content */

  /* comment reply link */
  .comment-reply-link {
    text-decoration: none;
    float: right;
    background: #4598bb;
    padding: 3px 5px;
    color: #fff;
    opacity: 0.65;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 0.9em;

    &:hover,
    &:focus {
      opacity: 1;
    }

  } /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

#content .gform_wrapper, form {
  margin: 0.75em 0;
  max-width: 100%;

  li {
    list-style-type: none;
    clear: both;
    margin-bottom: 0.7335em;
  }

  .gform_body .gform_fields .ginput_container {
    .ginput_left { width: 49%; }
  }

  input[type=text],
  input[type=email],
  input[type=url],
  textarea {
    background: #f5f5f5;
    border: 1px solid #b8b8b8;
    color: #aaa;
    display: block;
    font-size: 14px;
    font-weight: 100;
    height: auto;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-right: 0;
    padding: 8px 10px;
    max-width: none;
    width: 100% !important;

    &:focus {
      background: #fff;
      border-color: $primary-color;
      @include box-shadow(0 0 6px rgba($primary-color, 0.4));
      color: #333;
    }

    /* form validation */
    &:invalid {
      outline: none;
      border-color: #fbc2c4;
      background-color: #f6e7eb;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
          -ms-box-shadow: none;
              box-shadow: none;
    }
  }

  input[type=text],
  input[type=email],
  input[type=url] {
    max-width: 400px;
    min-width: 250px;
  }

  textarea {
    resize: none;
    width: 97.3%;
    height: 150px;
  }

}
  /* comment submit button */
  #submit {}

  /* comment form title */
  #comment-form-title {
    margin: 0 0 1.1em;
  }

  /* cancel comment reply link */
  #cancel-comment-reply {
    a {}
  }

  /* logged in comments */
  .comments-logged-in-as {}

  /* allowed tags */
  #allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
  }

  /* no comments */
  .nocomments {
    margin: 0 20px 1.1em;
  }

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

  .widgettitle {}

  .widget {

    ul {

      li {

        &:first-child {}

        &:last-child {}

        a {}

        /* deep nesting */
        ul {}

      }

    }

  }


/*********************
BUTTONS & ELEMENTS
*********************/
.button {
  @include button($primary-color);

  &.secondary {
    @include button($secondary-color);
  }

  &.hollow {
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);

    &:hover {
      border-color: rgba(255, 255, 255, 0.75);
      color: rgba(255, 255, 255, 0.75);
    }

    &:active {
      border-color: rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

/*********************
FOOTER STYLES
*********************/

.footer {
  margin-top: 25px;

  .footer-top {
    background: $primary-color;
    color: #fff;
    padding: 25px 0;
    text-shadow: none;

    h3, h4 {
      color: #fff;
    }

    nav {
      .logo {
        max-width: 100%;
        padding-right: 10px;
      }

      a {
        color: #fff;
        display: block;
        font-weight: 100;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .footer-bottom {
    background: #eee;
    border-top: 1px solid #ddd;
    @include box-shadow(0 1px 1px rgba(255, 255, 255, .6) inset);
    color: #333;
    font-size: .85em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
  }
}

  /*
  if you checked out the link above:
  http://www.alistapart.com/articles/organizing-mobile/
  you'll want to style the footer nav
  a bit more in-depth. Remember to keep
  it simple because you'll have to
  override these styles for the desktop
  view.
  */
  .footer-links {

    ul {

      li {}

    }

  } /* end .footer-links */


  .copyright {}


// Font Icons
.icon {
  display: inline-block;
  font-family: 'Entypo';
  font-size: 30px;
  text-decoration: none;

  @include transition(.3s color);

  &:hover { color: #000 !important; }
  &.twitter { color: #4099ff; }
  &.facebook { color: #3B5998; }
  &.linkedin { color: #007bb6; }
  &.google { color: #d34836; }
}

// Twitter Widgets
.twitter-tweet { margin: 0 auto !important; }