.callout {
  background: #e7e7e7;
  padding: 30px 0;

  .title {
    color: #000;
    font-size: 22px;
    line-height: 1em;
    margin: 0 0 2px;
  }

  .description {
    color: #000;
    font-size: 18px;
    margin: 0;
  }
}