@font-face {
  font-family: 'Entypo';
  src: font-url('entypo-social.eot');
  src: font-url('entypo-social.eot?#iefix') format('embedded-opentype'),
       font-url('entypo-social.woff') format('woff'),
       font-url('entypo-social.ttf') format('truetype'),
       font-url('entypo-social.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'flexslider-icon';
  src: font-url('flexslider-icon.eot');
  src: font-url('flexslider-icon.eot?#iefix') format('embedded-opentype'),
       font-url('flexslider-icon.woff') format('woff'),
       font-url('flexslider-icon.ttf') format('truetype'),
       font-url('flexslider-icon.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}