.gform_wrapper, form {
  margin: 0.75em 0;
  max-width: 100%;

  li {
    list-style-type: none;
    clear: both;
    margin-bottom: 0.7335em;
  }

  .gform_body .gform_fields .ginput_container {
    .ginput_left { width: 49%; }
  }

  input[type=text],
  input[type=email],
  input[type=url],
  textarea {
    background: #f5f5f5;
    border: 1px solid #b8b8b8;
    @include box-sizing(border-box);
    color: #aaa;
    display: block;
    font-size: 14px;
    font-weight: 100;
    height: auto;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-right: 0;
    padding: 8px 10px;
    max-width: none;
    width: 100% !important;

    &:focus {
      background: #fff;
      border-color: $primary-color;
      box-shadow: 0 0 6px rgba($primary-color, 0.4);
      color: #333;
      outline: none;
    }

    /* form validation */
    &:invalid {
      outline: none;
      border-color: #fbc2c4;
      background-color: #f6e7eb;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
          -ms-box-shadow: none;
              box-shadow: none;
    }
  }

  input[type=text],
  input[type=email],
  input[type=url] {
    max-width: 400px;
    min-width: 250px;
  }

  textarea {
    resize: none;
    width: 97.3%;
    height: 150px;
  }

  .button, input[type="submit"] {
    @extend .button;
  }

  // Overrides
  input[type=text], input[type=email], input[type=url], input[type=text], input[type=email], input[type=url] {
    max-width: none;
  }

  .ginput_complex .ginput_right input[type=text], .ginput_complex .ginput_right input[type=url], .ginput_complex .ginput_right input[type=email], .ginput_complex .ginput_right input[type=tel], .ginput_complex .ginput_right input[type=number], .ginput_complex .ginput_right input[type=password], .ginput_complex .ginput_right select {
    width: 100% !important;
  }
}

// Newsletter
.newsletter {
  h4 {
    margin: 0;
  }

  form {
    margin: 0;

    div {
      background: #fff;
      border-radius: 3px;
      padding: 13px 110px 13px 12px;
      position: relative;
    }

    input[type="email"] {
      background: transparent;
      border: none !important;
      display: block;
      height: 20px;
      line-height: 20px;
      max-width: none;
      padding: 0 93px 0 0;
      width: 100%;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .button {
      bottom: 5px;
      display: inline-block;
      font-size: 13px;
      padding: 10px 15px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}

#recaptcha_response_field {
  min-width: 0 !important;
}

// Search
#searchform {
  float: right;
  margin: 10px 0 10px 25px;
  position: relative;

  .screen-reader-text {
    display: none;
  }

  #s {
    background: rgba(#000, 0.1);
    border: none;
    border-radius: 50px;
    color: #555;

    &:focus {
      background: rgba(#000, 0.2);
      box-shadow: none;
    }

    @include placeholder {
      color: #777;
    }
  }

  #searchsubmit {
    background: transparent url(../images/icon-search.png) no-repeat;
    border: none;
    height: 17px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-indent: -999em;
    top: 10px;
    width: 18px;

    &:hover {
      box-shadow: none;
    }
  }

  @media screen and (max-width: 640px) {
    display: block;
    float: none;
    margin: 10px 15px;
  }
}