.sidebar {
  font-size: 14px;

  ul {
    margin: 0 0 15px 25px;

    li {
      list-style: disc;
      margin: 0 0 7px;
    }
  }

  .widget {
    margin: 0 0 25px;
  }

  .widget_search {
    #s {
      margin: 0 0 10px;
    }
  }
}