/* line 2, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 4, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 5, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 9, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 47, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 53, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 54, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 55, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 11, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 29, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 78, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 111, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 167, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 172, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 197, ../scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 207, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, ../scss/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 238, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 244, ../scss/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 253, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 261, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 265, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 277, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 284, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 292, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 302, ../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, ../scss/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 384, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 399, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 414, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 427, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 439, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 453, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 464, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 473, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 484, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 497, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 510, ../scss/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 517, ../scss/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 519, ../scss/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 521, ../scss/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 523, ../scss/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 528, ../scss/_normalize.scss */
dd {
  margin: 0;
}

/* line 532, ../scss/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

@font-face {
  font-family: 'Entypo';
  src: url('fonts/entypo-social.eot?1365891060');
  src: url('fonts/entypo-social.eot?&1365891060#iefix') format("embedded-opentype"), url('fonts/entypo-social.woff?1365891060') format("woff"), url('fonts/entypo-social.ttf?1365891060') format("truetype"), url('fonts/entypo-social.svg?1365891060#EntypoRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot?1387550432');
  src: url('fonts/flexslider-icon.eot?&1387550432#iefix') format("embedded-opentype"), url('fonts/flexslider-icon.woff?1387550432') format("woff"), url('fonts/flexslider-icon.ttf?1387550432') format("truetype"), url('fonts/flexslider-icon.svg?1387550432#EntypoRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #565656;
}

/* line 8, ../scss/_base.scss */
.wrap {
  margin: 0 auto;
  max-width: 960px;
  width: 96%;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 15, ../scss/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 19, ../scss/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 26, ../scss/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 27, ../scss/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 28, ../scss/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 29, ../scss/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 32, ../scss/_flexslider.scss */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 33, ../scss/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 34, ../scss/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 39, ../scss/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 43, ../scss/_flexslider.scss */
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}

/* line 44, ../scss/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 45, ../scss/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 46, ../scss/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 47, ../scss/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 50, ../scss/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 51, ../scss/_flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 50px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 52, ../scss/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 53, ../scss/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 54, ../scss/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 55, ../scss/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 56, ../scss/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 57, ../scss/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 58, ../scss/_flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}

/* line 59, ../scss/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* Pause/Play */
/* line 62, ../scss/_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 63, ../scss/_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 64, ../scss/_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 65, ../scss/_flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
/* line 68, ../scss/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}

/* line 69, ../scss/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 70, ../scss/_flexslider.scss */
.flex-control-paging li a {
  border: 2px solid #fff;
  width: 14px;
  height: 14px;
  display: block;
  background: transparent;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 71, ../scss/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #fff;
  background: white;
}

/* line 72, ../scss/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #eee;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

/* line 74, ../scss/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 75, ../scss/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 76, ../scss/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 77, ../scss/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 78, ../scss/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 81, ../scss/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 82, ../scss/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/* line 24, ../scss/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 25, ../scss/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 26, ../scss/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 27, ../scss/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 28, ../scss/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 29, ../scss/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 30, ../scss/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 31, ../scss/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 32, ../scss/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 33, ../scss/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 34, ../scss/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 35, ../scss/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 38, ../scss/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

/* line 44, ../scss/_grid.scss */
.first {
  margin-left: 0;
}

/* line 48, ../scss/_grid.scss */
.last {
  float: right;
}

/* line 1, ../scss/_typography.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 900;
  margin-top: 0;
  text-transform: uppercase;
}
/* line 8, ../scss/_typography.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 13, ../scss/_typography.scss */
h1, .h1 {
  color: #217d00;
  font-size: 2.5em;
  line-height: 1.333em;
}

/* line 19, ../scss/_typography.scss */
h2, .h2 {
  color: #217d00;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1.4em;
  margin-bottom: 30px;
  text-align: center;
}

/* line 28, ../scss/_typography.scss */
h3, .h3 {
  color: #5a351d;
  font-size: 18px;
}

/* line 33, ../scss/_typography.scss */
h4, .h4 {
  color: #5a351d;
  font-size: 14px;
}

/* line 38, ../scss/_typography.scss */
h5, .h5 {
  color: #217d00;
  font-size: 14;
  line-height: 2.09em;
  letter-spacing: 2px;
  text-transform: none;
}

/* line 46, ../scss/_typography.scss */
a, a:visited {
  color: #217d00;
  /* mobile tap color */
}
/* line 49, ../scss/_typography.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #2eb000;
}
/* line 53, ../scss/_typography.scss */
a:active, a:visited:active {
  color: #144a00;
}
/* line 58, ../scss/_typography.scss */
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/* line 64, ../scss/_typography.scss */
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5em;
}
/* line 69, ../scss/_typography.scss */
p.subtitle {
  font-size: 18px;
  text-align: center;
}

/* line 75, ../scss/_typography.scss */
hr {
  background: #e3e3e3;
  border: none;
  height: 1px;
  margin: 15px 0;
}

/* line 1, ../scss/_forms.scss */
.gform_wrapper, form {
  margin: 0.75em 0;
  max-width: 100%;
}
/* line 5, ../scss/_forms.scss */
.gform_wrapper li, form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 12, ../scss/_forms.scss */
.gform_wrapper .gform_body .gform_fields .ginput_container .ginput_left, form .gform_body .gform_fields .ginput_container .ginput_left {
  width: 49%;
}
/* line 15, ../scss/_forms.scss */
.gform_wrapper input[type=text],
.gform_wrapper input[type=email],
.gform_wrapper input[type=url],
.gform_wrapper textarea, form input[type=text],
form input[type=email],
form input[type=url],
form textarea {
  background: #f5f5f5;
  border: 1px solid #b8b8b8;
  color: #aaa;
  display: block;
  font-size: 14px;
  font-weight: 100;
  height: auto;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-right: 0;
  padding: 8px 10px;
  max-width: none;
  width: 100% !important;
  /* form validation */
}
/* line 33, ../scss/_forms.scss */
.gform_wrapper input[type=text]:focus,
.gform_wrapper input[type=email]:focus,
.gform_wrapper input[type=url]:focus,
.gform_wrapper textarea:focus, form input[type=text]:focus,
form input[type=email]:focus,
form input[type=url]:focus,
form textarea:focus {
  background: #fff;
  border-color: #217d00;
  box-shadow: 0 0 6px rgba(33, 125, 0, 0.4);
  color: #333;
}
/* line 41, ../scss/_forms.scss */
.gform_wrapper input[type=text]:invalid,
.gform_wrapper input[type=email]:invalid,
.gform_wrapper input[type=url]:invalid,
.gform_wrapper textarea:invalid, form input[type=text]:invalid,
form input[type=email]:invalid,
form input[type=url]:invalid,
form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 52, ../scss/_forms.scss */
.gform_wrapper input[type=text],
.gform_wrapper input[type=email],
.gform_wrapper input[type=url], form input[type=text],
form input[type=email],
form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 59, ../scss/_forms.scss */
.gform_wrapper textarea, form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 70, ../scss/_forms.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 83, ../scss/_forms.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 88, ../scss/_forms.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/* line 1, ../scss/_buttons.scss */
.button {
  background-image: -webkit-linear-gradient(top, #299c00, #217d00);
  background-image: linear-gradient(to bottom, #299c00, #217d00);
  border-radius: 4px;
}
/* line 61, ../scss/_mixins.scss */
.button, .button:visited {
  border: 1px solid #217d00;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}
/* line 75, ../scss/_mixins.scss */
.button:hover, .button:focus {
  background-image: -webkit-linear-gradient(top, #31ba00, #289700);
  background-image: linear-gradient(to bottom, #31ba00, #289700);
  box-shadow: 0 0 3px #217d00;
  outline: none;
}
/* line 81, ../scss/_mixins.scss */
.button:active {
  color: #eee;
  outline: none;
  text-shadow: none;
  background-image: -webkit-linear-gradient(top, #289700, #1a6300);
  background-image: linear-gradient(to bottom, #289700, #1a6300);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}
/* line 4, ../scss/_buttons.scss */
.button.secondary {
  background-image: -webkit-linear-gradient(top, #714324, #5a351d);
  background-image: linear-gradient(to bottom, #714324, #5a351d);
  border-radius: 4px;
}
/* line 61, ../scss/_mixins.scss */
.button.secondary, .button.secondary:visited {
  border: 1px solid #5a351d;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}
/* line 75, ../scss/_mixins.scss */
.button.secondary:hover, .button.secondary:focus {
  background-image: -webkit-linear-gradient(top, #88502c, #6d4023);
  background-image: linear-gradient(to bottom, #88502c, #6d4023);
  box-shadow: 0 0 3px #5a351d;
  outline: none;
}
/* line 81, ../scss/_mixins.scss */
.button.secondary:active {
  color: #eee;
  outline: none;
  text-shadow: none;
  background-image: -webkit-linear-gradient(top, #6d4023, #472a17);
  background-image: linear-gradient(to bottom, #6d4023, #472a17);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}
/* line 8, ../scss/_buttons.scss */
.button.hollow {
  background: transparent;
  border: 3px solid white;
  color: white;
}
/* line 13, ../scss/_buttons.scss */
.button.hollow:hover {
  border-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
}
/* line 18, ../scss/_buttons.scss */
.button.hollow:active {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

/* line 1, ../scss/_header.scss */
.header {
  background: url("../images/header-bg.jpg") no-repeat;
  background-size: cover;
  height: 676px;
  padding-top: 36px;
}

/* line 8, ../scss/_header.scss */
.nav-container {
  background: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
/* line 14, ../scss/_header.scss */
.nav-container #beam-me-up {
  font-weight: bold;
  opacity: 0;
  position: absolute;
  top: 25px;
  right: 25px;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 23, ../scss/_header.scss */
.nav-container #beam-me-up.in {
  opacity: 1;
}
@media screen and (max-width: 640px) {
  /* line 14, ../scss/_header.scss */
  .nav-container #beam-me-up {
    right: auto;
    left: 25px;
  }
}
/* line 33, ../scss/_header.scss */
.nav-container .logo {
  float: left;
}
/* line 35, ../scss/_header.scss */
.nav-container .mobile-toggle-container {
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: none;
  height: 50px;
}
/* line 42, ../scss/_header.scss */
.nav-container .mobile-toggle-container .mobile-toggle {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  float: right;
  margin: 6px;
  padding: 10px 10px;
  width: 50px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
}
/* line 52, ../scss/_header.scss */
.nav-container .mobile-toggle-container .mobile-toggle:hover {
  background: rgba(255, 255, 255, 0.75);
}
/* line 56, ../scss/_header.scss */
.nav-container .mobile-toggle-container .mobile-toggle:active {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
/* line 61, ../scss/_header.scss */
.nav-container .mobile-toggle-container .mobile-toggle span {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: block;
  height: 3px;
  margin-bottom: 3px;
  width: 100%;
}
/* line 69, ../scss/_header.scss */
.nav-container .mobile-toggle-container .mobile-toggle span:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 640px) {
  /* line 77, ../scss/_header.scss */
  .nav-container .wrap {
    background: #fff;
    margin: 0;
    padding-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: -300px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
  }
  /* line 89, ../scss/_header.scss */
  .nav-container .wrap .nav.top-nav li {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
  }
  /* line 95, ../scss/_header.scss */
  .nav-container .wrap .nav.top-nav li a {
    display: block;
    width: 100%;
  }
  /* line 99, ../scss/_header.scss */
  .nav-container .wrap .nav.top-nav li a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  /* line 108, ../scss/_header.scss */
  .nav-container.open .wrap {
    top: 0;
  }
  /* line 111, ../scss/_header.scss */
  .nav-container.open .mobile-toggle-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  /* line 116, ../scss/_header.scss */
  .nav-container .mobile-toggle-container {
    display: block;
  }
}

/* line 122, ../scss/_header.scss */
.nav.top-nav {
  border-bottom: 0;
  float: right;
  margin: 0;
  position: relative;
  text-align: center;
}
/* line 129, ../scss/_header.scss */
.nav.top-nav li {
  display: inline-block;
  float: none;
  line-height: 57px;
  margin: 0 15px;
}
/* line 135, ../scss/_header.scss */
.nav.top-nav li a {
  color: #a3a2a2;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
/* line 150, ../scss/_header.scss */
.nav.top-nav li a:hover, .nav.top-nav li a:focus {
  color: #444;
}

/* line 1, ../scss/_footer.scss */
.footer {
  margin-top: 25px;
}
/* line 4, ../scss/_footer.scss */
.footer .footer-top {
  background: #217d00;
  color: #fff;
  padding: 25px 0;
  text-shadow: none;
}
/* line 10, ../scss/_footer.scss */
.footer .footer-top h3, .footer .footer-top h4 {
  color: #fff;
}
/* line 15, ../scss/_footer.scss */
.footer .footer-top nav .logo {
  max-width: 100%;
  padding-right: 10px;
}
/* line 20, ../scss/_footer.scss */
.footer .footer-top nav a {
  color: #fff;
  display: block;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  /* line 4, ../scss/_footer.scss */
  .footer .footer-top {
    text-align: center;
  }
  /* line 32, ../scss/_footer.scss */
  .footer .footer-top nav {
    margin: 0 0 20px;
  }
  /* line 35, ../scss/_footer.scss */
  .footer .footer-top nav .logo {
    margin-bottom: 15px;
  }
  /* line 39, ../scss/_footer.scss */
  .footer .footer-top nav a {
    margin: 8px 0;
    text-align: center;
  }
}
/* line 47, ../scss/_footer.scss */
.footer .footer-bottom {
  background: #eee;
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6) inset;
  color: #333;
  font-size: .85em;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

/* line 59, ../scss/_footer.scss */
.icon {
  display: inline-block;
  font-family: 'Entypo';
  font-size: 30px;
  text-decoration: none;
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  transition: 0.3s color;
}
/* line 67, ../scss/_footer.scss */
.icon:hover {
  color: #000 !important;
}
/* line 68, ../scss/_footer.scss */
.icon.twitter {
  color: #4099ff;
}
/* line 69, ../scss/_footer.scss */
.icon.facebook {
  color: #3B5998;
}
/* line 70, ../scss/_footer.scss */
.icon.linkedin {
  color: #007bb6;
}
/* line 71, ../scss/_footer.scss */
.icon.google {
  color: #d34836;
}

/* line 75, ../scss/_footer.scss */
.twitter-tweet {
  margin: 0 auto !important;
}

/* line 1, ../scss/_content.scss */
.content-secondary {
  background: #5a351d;
  border-radius: 5px;
  padding: 20px;
  text-shadow: none;
}
/* line 7, ../scss/_content.scss */
.content-secondary h1, .content-secondary h2, .content-secondary h3, .content-secondary h4, .content-secondary h5 {
  color: #fff;
}
/* line 8, ../scss/_content.scss */
.content-secondary p {
  color: rgba(255, 255, 255, 0.5);
}

/* line 11, ../scss/_content.scss */
.author-bio {
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) inset;
  margin: 15px 0 28px;
  padding: 25px 25px 25px 130px;
  position: relative;
}
/* line 20, ../scss/_content.scss */
.author-bio .avatar {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 25px;
  left: 25px;
}
/* line 29, ../scss/_content.scss */
.author-bio .title {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 0 5px 5px 0;
}
/* line 36, ../scss/_content.scss */
.author-bio .social {
  display: inline-block;
  margin: 0 0 10px;
}
/* line 40, ../scss/_content.scss */
.author-bio .social li {
  display: inline-block;
  margin-right: 10px;
}
/* line 44, ../scss/_content.scss */
.author-bio .social li .icon {
  line-height: 1em;
  margin-top: 0;
}
/* line 51, ../scss/_content.scss */
.author-bio .bio {
  margin: 0;
}
@media screen and (max-width: 640px) {
  /* line 11, ../scss/_content.scss */
  .author-bio {
    text-align: center;
    padding-left: 25px;
  }
  /* line 59, ../scss/_content.scss */
  .author-bio .avatar {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto 15px;
  }
  /* line 65, ../scss/_content.scss */
  .author-bio .title {
    display: block;
  }
  /* line 69, ../scss/_content.scss */
  .author-bio .social {
    display: block;
  }
  /* line 72, ../scss/_content.scss */
  .author-bio .social .icon {
    font-size: 46px;
  }
}

/* line 79, ../scss/_content.scss */
#content {
  margin-top: 2.2em;
}

/* line 85, ../scss/_content.scss */
.hentry header {
  font-size: 14px;
  text-align: center;
}

/* end .hentry */
/* entry content */
/* line 97, ../scss/_content.scss */
.entry-content blockquote {
  font-style: italic;
  font-size: 22px;
}
/* line 102, ../scss/_content.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 109, ../scss/_content.scss */
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 115, ../scss/_content.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 120, ../scss/_content.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* line 127, ../scss/_content.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 133, ../scss/_content.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 139, ../scss/_content.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* line 147, ../scss/_content.scss */
.slider {
  border: none;
}

/* line 152, ../scss/_content.scss */
.events {
  padding-bottom: 60px;
  text-align: center;
}
/* line 156, ../scss/_content.scss */
.events h2 {
  margin: 35px 0 45px;
}
/* line 157, ../scss/_content.scss */
.events img {
  margin: 0 0 25px;
}

/* line 161, ../scss/_content.scss */
.upcoming-events {
  background: #5a351d;
  color: #fff;
  padding: 35px 0;
}
/* line 166, ../scss/_content.scss */
.upcoming-events .wrap > h2 {
  margin: 15px 0 45px;
}
/* line 169, ../scss/_content.scss */
.upcoming-events .event h2 {
  margin: 20px 0 25px;
  text-align: left;
}
/* line 173, ../scss/_content.scss */
.upcoming-events .event h2 a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25em;
}
/* line 181, ../scss/_content.scss */
.upcoming-events .event h3 {
  color: #e8c34f;
  margin: 0;
}
/* line 186, ../scss/_content.scss */
.upcoming-events .event h4 {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
/* line 191, ../scss/_content.scss */
.upcoming-events .event .map {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  border: 1px solid rgba(255, 255, 255, 0.05);
  height: 150px;
  margin: 20px 0 10px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.25) inset;
}
/* line 204, ../scss/_content.scss */
.upcoming-events .event .button.hollow {
  display: inline-block;
}
/* line 207, ../scss/_content.scss */
.upcoming-events .more-events {
  color: #fff;
  font-weight: bold;
  margin: 30px 0 0;
  text-align: center;
}
/* line 213, ../scss/_content.scss */
.upcoming-events .more-events a {
  color: #e8c34f;
}

/* line 218, ../scss/_content.scss */
.news {
  padding: 35px 0;
}
/* line 221, ../scss/_content.scss */
.news h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 227, ../scss/_content.scss */
.news .post-meta {
  font-size: .75em;
  margin-top: 0;
}
/* line 232, ../scss/_content.scss */
.news .post-excerpt {
  font-size: .95em;
}
/* line 236, ../scss/_content.scss */
.news .excerpt-read-more {
  margin-top: 20px;
  background-image: -webkit-linear-gradient(top, #299c00, #217d00);
  background-image: linear-gradient(to bottom, #299c00, #217d00);
  border-radius: 4px;
}
/* line 61, ../scss/_mixins.scss */
.news .excerpt-read-more, .news .excerpt-read-more:visited {
  border: 1px solid #217d00;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}
/* line 75, ../scss/_mixins.scss */
.news .excerpt-read-more:hover, .news .excerpt-read-more:focus {
  background-image: -webkit-linear-gradient(top, #31ba00, #289700);
  background-image: linear-gradient(to bottom, #31ba00, #289700);
  box-shadow: 0 0 3px #217d00;
  outline: none;
}
/* line 81, ../scss/_mixins.scss */
.news .excerpt-read-more:active {
  color: #eee;
  outline: none;
  text-shadow: none;
  background-image: -webkit-linear-gradient(top, #289700, #1a6300);
  background-image: linear-gradient(to bottom, #289700, #1a6300);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}
/* line 242, ../scss/_content.scss */
.news .twitter {
  margin-top: 25px;
}

/* line 249, ../scss/_content.scss */
.newsletter h4 {
  margin: 0;
}
/* line 251, ../scss/_content.scss */
.newsletter form {
  margin: 0;
}
/* line 254, ../scss/_content.scss */
.newsletter form div {
  position: relative;
}
/* line 258, ../scss/_content.scss */
.newsletter form input[type="email"] {
  background: #fff;
  border: none !important;
  border-radius: 3px;
  max-width: none;
  padding: 13px 12px;
}
/* line 266, ../scss/_content.scss */
.newsletter form .button {
  display: inline-block;
  font-size: 13px;
  padding: 10px 15px;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* line 278, ../scss/_content.scss */
.sponsors {
  background: #eee;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15) inset;
  padding: 35px 0 45px;
  text-shadow: 0 1px 0 #fff;
}
/* line 282, ../scss/_content.scss */
.sponsors .sponsor h3 {
  text-align: center;
}
/* line 286, ../scss/_content.scss */
.sponsors .sponsor .logo {
  min-height: 125px;
  text-align: center;
}
/* line 290, ../scss/_content.scss */
.sponsors .sponsor .logo img {
  max-width: 100%;
}

/* line 298, ../scss/_content.scss */
.about {
  margin-bottom: 45px;
}
/* line 301, ../scss/_content.scss */
.about .content p {
  color: #217d00;
  font-size: 24px;
}

/* line 308, ../scss/_content.scss */
.contact {
  padding: 35px 0 0;
}

@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 15, ../scss/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 23, ../scss/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 28, ../scss/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 33, ../scss/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 38, ../scss/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 44, ../scss/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 49, ../scss/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 53, ../scss/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 57, ../scss/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 65, ../scss/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 70, ../scss/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 76, ../scss/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
